:root {
  /* dogsalt_ official color pallate */
  --ds_dark_purple: #41344D;
  --ds_light_purple: #8258A0;
  --ds_brown_purple: #94676A;
  --ds_dark_blue: #22515B;
  --ds_light_blue: #5F93C5;
  --ds_dark_green: #2F6848;
  --ds_green_blue: #3C9A75;
  --ds_green_grey: #768F79;
  --ds_dark_red: #6B1E16;
  --ds_light_red: #DD3322;
  --ds_red_brown: #A76D62;
  --ds_dark_brown: #544617;
  --ds_light_brown: #774707;
  --ds_brown_grey: #908071;
  --ds_dark_tan: #BF895A;
  --ds_light_tan: #F7D9B7;
  --ds_black: #000000;
}

body {
  font-family: monospace;
  font-size: 1rem;
  background-color: #000000;
  color: #ffffff
}

.line_divider {
  height: 0.65rem;
  width: 100%;
  background-color: #ffffff;
  border-radius: 10%;
}

/* Universal Title Section Styles */
.title_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Title Top Section Styles */
.title_top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.title_icon {
  background-image: url('./assets/dogsalt_icon.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 200px;
  width: 200px;
  border: none;
  background-color: transparent;
}

.title_content {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.title_buttons {
  display: flex; 
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.searchbar_button {
  background-image: url('./assets/searchbar_icon/search_icon_frame1.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
  border: none;
  background-color: transparent;
}

.navbar_button {
  background-image: url('./assets/navbar_icon/navbar_icon.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
  border: none;
  background-color: transparent;
}

/* Title Bottom Section Styles */
.title_bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text_divider {
  display: flex;
  justify-content: center;
  height: 0.75rem;
  width: 100%;
  padding: 0, 1rem;
}

.navbar_container ul {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  align-items: center;
  list-style: none;
}

.searchbar_container form {
  display: flex;
  gap: 0.5rem;
  margin: 1rem;
}

/* Main Page Recent Project Section Styles */

.mp_recent_project_container {
  display: flex;
  flex-direction: column;
  margin: 1rem 10rem;
}

.mp_recent_project_container header {
  display: flex;
  flex-direction: column;
}

.mp_recent_project_container article {
  display: flex;
  flex-direction: row;
}

.mp_recent_project_container article span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mp_recent_project_container figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Main Page Upcoming Projects Section Styles */
.mp_upcoming_projects_container {
  display: flex;
  flex-direction: column;
  margin: 1rem 10rem;
}

.mp_upcoming_projects_container article {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.mp_upcoming projects_container article span {
  display: flex;
}